
img {
    height: 40px;
    width: 40px;
}

ul {
    list-style: none;
}

header ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.left-side {
    display: flex;
    width: 50px;
}

.right-side {
    width: 150px;
    display: flex;
    margin-right: 60px;
    justify-content: space-between;
}

 a.hambuger-icon {
    height: 20px;
    width: 30px;
}

.user-icon {
    height: 40px;
    width: 40px;
    margin-right: 25px;
}

.bell-icon {
    height: 40px;
    width: 40px;
}

.logo-icon {
    height: 60px;
    width: 125px;
    display: relative;
    bottom:10px;
}

.upload-icon {
    height: 40px;
    width: 40px;
}

.search-icon {
    height: 25px;
    width: 25px;
    margin-bottom: 10px;
}

[type="button"] {
    width: 90px;
}

.search-area .text-space {
    height: 25px;
    width: 600px;
}

.suscribe-img{
    height: 50px;
    width: 100px;
}

/*************/

.feedback-section {
    display: flex;
    border-bottom: 1px solid black;
    width: 98%;
    justify-content: space-between;
}

.views {
    margin-bottom: 15px;
}

.reactions {
    display: flex;
    width: 200px;
    justify-content: space-between;
}


/************/

.owner-section {
    width: 98%;
    border-bottom: 1px solid black;
    margin-top: 15px;
}

.content-owner {
    display: flex;
    justify-content: space-between;
}

.owner-info {
    display: flex;
}

.account-info {
    display: flex;
    flex-direction: column;
}

.comment-numbers {
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.sort-icon {
    display: flex;
}

.comment-field {
    display: flex;
}

.comment-box .text-box {
    margin-left: 25px;
    height: 25px;
    width: 700px;
    outline: none;
    border: none;
    border-bottom: 2px solid gray;
}


/****************/

.user-comments {
    display: flex;
    width: 98%;
    margin-top: 30px;
}

.user-profile {
    margin-left: 25px;
}

.playlist {
    align-content: left;
    display: flex;
}

.playlist-info {
    padding-left: 10px;
}

.container {
    display: flex;
}


/* Styling the aside  */

.screenshot img {
    height: 150px;
    width: 300px;
}

.column-one {
    width: 80%;
}

.column-one iframe {
    width: 98%;
    height: 500px;
}

a {
    text-decoration: none;
    color: grey;
}